.header {
    flex-shrink: 0;
    background-color: #2a2a2a;
    color: #ddd;
    font-size: 1rem;
}

.container {
    max-width: var(--max-area-width);
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 16px 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-weight: 500;
}

.user {
    font-size: 0.95em;
}

.userName {
    color: #8c93ff;
    font-weight: 600;
}
