:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --max-area-width: 1080px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #242424;
}

.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    background-color: #242424;
}

/* ----- Styles for nameInputGroup ----- */
/*.nameInputGroup {*/
/*    display: flex;*/
/*    gap: 10px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.inputField {*/
/*    composes: baseInput;*/
/*    width: 100%;*/
/*    line-height: 1.5;*/
/*}*/
