:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --max-area-width: 1080px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #242424;
}

.baseInput {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #444;
    color: #eee;
    font-size: 1em;
    font-family: inherit;
    background-color: #2a2a2a;
}

.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    background-color: #242424;
}

/* ----- Styles for messagesContainer ----- */
.messagesContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    text-align: left;
    padding-top: 10px;
}

.messagesWrapper{
    max-width: var(--max-area-width);
    width: 100%;
    margin: 0 auto;
}

.messagesContainer::-webkit-scrollbar {
    width: 6px;
}

.messagesContainer::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.messagesContainer::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
    opacity: 0.5;
    border-radius: 10px;
}

.messagesContainer::-webkit-scrollbar-thumb:hover {
    background-color: #565656;
}







/* ----- Styles for nameInputGroup ----- */
/*.nameInputGroup {*/
/*    display: flex;*/
/*    gap: 10px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.inputField {*/
/*    composes: baseInput;*/
/*    width: 100%;*/
/*    line-height: 1.5;*/
/*}*/

/* ----- Styles for textarea ----- */
.inputSection {
    max-width: var(--max-area-width);
    width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
    padding: 16px 0 20px;
    min-height: 60px;
    position: relative;
}

.inputContainer {
    width: 100%;
    max-width: var(--max-area-width);
    box-sizing: border-box;
}

.inputGroup {
    display: flex;
    gap: 8px;
}

.inputGroupActive {
    composes: inputGroup;
    border-top: 1px solid white;
}

.inputMessage {
    composes: baseInput;
    padding: 16px 12px;
    border: none;
    border-radius: 16px 16px 0 16px;
    resize: none;
    transition: border-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.inputField:focus,
.inputMessage:focus {
    outline: none;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.inputAppendix {
    position: absolute;
    bottom: -1px;
    transform: scaleX(-1);
}

.inputAppendix path {
    fill: #2a2a2a;
}

/* ----- Styles for buttons ----- */
.sendButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 10px;
    background-color: #646cff;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    user-select: none;
    white-space: nowrap;
    height: 55px;
    width: 55px;
}

.sendButton:hover {
    background-color: #4b52d6;
    border-color: #3a3fbb;
}

.sendButton:focus,
.sendButton:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
    outline-offset: 2px;
}

.sendButtonIcon {
    width: 26px;
    height: auto;
    margin-left: 2px;
    stroke: #2a2a2a;
}